header {
  width: 100%;
  background-color: #2f9cfb;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;

  .usuario {
    display: flex;

    .notificacao {
      margin-left: 8px;

      img {
        height: 20px;
      }
    }
  }
}
