.card {
  border: 1px solid #cae5fd;
  box-shadow: 9px 7px 5px 0px #bad6ee;
  border-radius: 6px;
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 228px;
  min-height: 242px;

  &:hover {
    cursor: pointer;
    scale: 1.1;
  }

  img {
    width: 150px;
  }

  span {
    margin-top: 8px;
  }
}
